In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('data/litclock_annotated.csv', sep='|', header=None)
df.columns = ['time', 'time_str', 'quote', 'title', 'author', 'sfw']
df.head(2)

,time,time_str,quote,title,author,sfw
0,00:00,midnight,"While they were drinking at the fountain, chur...",The 101 Dalmatians,Dodie Smith,sfw
1,00:00,midnight,"At midnight the entrances were thrown wide, an...",Ben-Hur,Lew Wallace,sfw

In [12]:
df = df.drop(columns=['time_str', 'sfw'])
df.head(2)

,time,quote,title,author
0,00:00,"While they were drinking at the fountain, chur...",The 101 Dalmatians,Dodie Smith
1,00:00,"At midnight the entrances were thrown wide, an...",Ben-Hur,Lew Wallace

In [13]:
# I want to avoid using pandas, as it's overkill for our task at hand
# Hence, I will split the df by groups, one .csv per group
time_dfgb = df.groupby('time')

In [23]:
for group, group_df in time_dfgb:
    group_df.to_csv(f"data/quotes/{group}.csv", index=False, sep='|', header=False)

In [27]:
time_dfgb.get_group('13:17').quote.iloc[0]

'1.17 pm An arrest is made at Bristol Airport and police confirm that theyâ€™ve detained a person in connection with the investigation.'