In [1]:
import pandas as pd
pd.set_option('display.width', 1000) 
pd.set_option('display.max_colwidth', 0)

In [2]:
df = pd.read_csv('../data/litclock_annotated.csv', sep='|', header=None)
df.columns = ['time', 'time_str', 'quote', 'title', 'author', 'sfw']
df.head(2)

    time  time_str                                                                                                                                                                                                                                                                                                                                                                         quote               title       author  sfw
0  00:00  midnight  While they were drinking at the fountain, church clocks began to strike midnight. Missis said gladly, “Oh, Pongo, it’s tomorrow! Now we shall be with our puppies today!”                                                                                                                                                                                                     The 101 Dalmatians  Dodie Smith  sfw
1  00:00  midnight  At midnight the entrances were thrown wide, and the rabble, surging in, occupied the quarters assigned to them, from which nothing less than an earthquake or an army with spears could have dislodged them. They dozed the night away on the benches, and breakfasted there; and there the close of the exercises found them, patient and sight-hungry as in the beginning.  Ben-Hur             Lew Wallace  sfw

In [3]:
# Embed the time_str within the quote, using a <b> tag
df['quote'] = df.apply(lambda row: row['quote'].replace(row['time_str'], f"<b>{row['time_str']}</b>"), axis=1)
df.head(1)

    time  time_str                                                                                                                                                                             quote               title       author  sfw
0  00:00  midnight  While they were drinking at the fountain, church clocks began to strike <b>midnight</b>. Missis said gladly, “Oh, Pongo, it’s tomorrow! Now we shall be with our puppies today!”  The 101 Dalmatians  Dodie Smith  sfw

In [4]:
df = df.drop(columns=['time_str', 'sfw'])
df.head(2)

    time                                                                                                                                                                                                                                                                                                                                                                                quote               title       author
0  00:00  While they were drinking at the fountain, church clocks began to strike <b>midnight</b>. Missis said gladly, “Oh, Pongo, it’s tomorrow! Now we shall be with our puppies today!”                                                                                                                                                                                                     The 101 Dalmatians  Dodie Smith
1  00:00  At <b>midnight</b> the entrances were thrown wide, and the rabble, surging in, occupied the quarters assigned to them, from which nothing less than an earthquake or an army with spears could have dislodged them. They dozed the night away on the benches, and breakfasted there; and there the close of the exercises found them, patient and sight-hungry as in the beginning.  Ben-Hur             Lew Wallace

In [5]:
# I want to avoid using pandas, as it's overkill for our task at hand
# Hence, I will split the df by groups, one .csv per group
time_dfgb = df.groupby('time')

In [6]:
for group, group_df in time_dfgb:
    group_df.to_csv(f"../data/quotes/{group}.csv", index=False, sep='|', header=False)

In [7]:
time_dfgb.get_group('13:17').quote.iloc[0]

'<b>1.17 pm</b> An arrest is made at Bristol Airport and police confirm that they’ve detained a person in connection with the investigation.'